# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-Learn

| Data Science Tools |
|--------------------|
| JupyterLab         |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

```python
# Addition
print(2 + 3)  # Output: 5

# Subtraction
print(5 - 3)  # Output: 2

# Multiplication
print(2 * 3)  # Output: 6

# Division
print(6 / 3)  # Output: 2.0

# Exponentiation
print(2 ** 3)  # Output: 8

# Modulus
print(5 % 2)  # Output: 1

In [4]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
print(result)  # This should print the number 17

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)  # This will output the number of hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Some commonly used libraries used by data scientists.
- Important tools used in Data Science.
- Some examples of evaluating arithmetic expressions in python.

## Author
Anjali Saumithri Devi